.card {
  border: 2px solid black;
  width: 300px;
  height: 400px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  background-color: #ccc;
}
.title {
  position: relative;
  padding-right: 30px;
  font-size: 18px;
  font-weight: bold;
  min-width: 200px;
  height: 40px;
  left: 12px;
  top: 10px;
}
.ellipsis {
  position: relative;
  height: 25px;
  left: 45px;
  top: 10px;
  font-size: 18px;
}
.table {
  min-width: 280px;
  height: 200px;
  position: relative;
  top: 50px;
  right: 232px;
  border-spacing: 0 1rem;
}
.list-item{
  border: 1px solid black;
  min-width: 250px;
  height: 30px;
  background-color: white;
  margin-top: 10px;
  
}
.add-button {
  position: relative;
  min-width: 200px;
  height: 100px;
  top: 375px;
  right: 510px;
}
td {
  padding: 10px;
}